body {
    background-image:url(http://powellong.com/data/wallpapers/12/WDF_608330.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#poster{
    width: 250px;
    height: 250px;

}
.ent{
    font-family: sans-serif;
    font-size:smaller;
    font-style: inherit;
    color:darkblue;
}